<%= form_for([@advertisement,@advertisement.comments.build]) do |f| %>
    <div class="field form-group">
        <%= f.label:Email %>
        <%= f.text_field:name, class:"form-control", value:current_user.email %>
    </div>
    <div class="field form-group">
        <%= f.label:body %><br>
        <%= f.text_area:body, class:"form-control", placeholder:"Enter the comment" %>
    </div>
    <br>
    <div class="actions">
        <%= f.submit class:"btn btn-info" %>
    </div>
<% end %>