<% if user_signed_in? %>
  <h1 class="text-center">All Advertisements</h1><hr>

    <% @advertisements.each do |advertisement| %>
    
      <div class="card"> 
        <div class="card-body">
        
          <p><span class="fw-bold"> Title : </span> <%= advertisement.title %></p>
          <p><span class="fw-bold"> Description : </span> <%= advertisement.desc %></p>
          <p><span class="fw-bold"> Contact Details : </span> <%= advertisement.phone %></p>
          <p><span class="fw-bold"> User Id : </span> <%= advertisement.user_id %> </p>
          <%= link_to "View Advertisement",advertisement %>
          <!-- <p><%= link_to 'View More Details', advertisement, class:"btn btn-info" %> -->
          <br/><br/>
          <% if advertisement.user == current_user %> 
          <%= link_to 'Edit', edit_advertisement_path(advertisement), class:"btn btn-secondary" %>
          <%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></p>
          <% else %>
          <button class="btn btn-info">You are not allowed to perform any operation on others Advertisements </button>
          <% end %>
        
        </div>
      </div>
      <br/>
    
    <% end %>
    


<%= link_to 'Create New Advertisement', new_advertisement_path, class:"btn btn-success" %>
<% else %>
<div class="container">
  <div class="row">
    <div class="col col-lg-6 col-sm-12">
              <p class="ttx">
        <div class="card">
          <div class="card-header">
            <h3>Welcome Peers </h3>
          </div>
          <div class="card-body">
            <h6 class="card-title">Sign In with your credentials to view Advertisements !!!!</h6><hr>
            <p class="card-text">
            Don't have an account ? <br/><br/>
        <%= link_to "SignUp",new_user_registration_path,class:"btn btn-warning"%>
        <br/><br/>
        Already have an account ? <br/><br/>
        <%= link_to "LogIn",new_user_session_path,class:"btn btn-success"%>
            </p>
          </div>
        </div>

        </p>
    </div>
    <div class="col  col-lg-6 col-sm-12">
      <%= image_tag("pics/welcome.jfif",width:'100%',height:'100%',class:"idimage") %>
    </div>
  </div>
</div> 




<% end %>