<div class="jumbotron">
  <h1 class="display-4"><%= @advertisement.title %></h1>
  <p class="lead">Description : <%= @advertisement.desc %></p>
  <p class="lead">Phone Number : <%= @advertisement.phone %></p>
  <p>Other Details : <%= @advertisement.others %></p>
  <%= link_to 'Edit', edit_advertisement_path(@advertisement), class:"btn btn-secondary" %> 
  <%= link_to 'Delete', @advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <%= link_to 'Back', advertisements_path, class:"btn btn-dark" %> 
  <hr>

  <div>
    <h4>All Comments</h4><br/>
    
    <%= render @advertisement.comments %>
<hr>
    <h3> Add a comment: </h3><br/>
    <%= render 'comments/form' %>
  </div>
 
  
</div>

